* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url(../img/img/фон.jpg) center/cover;
}

img {
    max-width: 100%;
}

.content {
    height: 100%;
    animation: zoom 5s 1s backwards;
}

.title {
    text-align: center;
    animation: zoom 2s 9s backwards;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
    padding-top: 50px;
}

.main {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main__back-wrap {
    position: relative;
    animation: run-left 3s 6s forwards;
    right: 50px;
}

.main__back-img {}

.main__front-wrap {
    position: absolute;
    top: -115px;
    left: 0;
    animation: run-right 3s 6s forwards;
}

.main__front-img {}

@keyframes zoom {
    0% {
        transform: scale(0);
    }


    100% {
        transform: scale(1)
    }

}

@keyframes run-right {
    100% {
        transform: translateX(405px)
    }
}